* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

::selection {
    color: #fff;
    background: #e3ae00;
  }

  .navbar {
    width: 100%;
    height: 100px;
    box-shadow: 0 0 15px rgba(127, 154, 170, 0.4);
    display: flex;
    justify-content: space-between;
}

.navbar-logo {
    display: flex;
    align-items: center;
}

.navbar-logo img {
    margin-left: 10vw;
}

.navbar-list {
    display: flex;
    justify-content: end;
    align-items: center;
    margin-right: 10vw;
}

.navbar-list ul {
    list-style-type: none;
    animation: fidzetspiner 0.5s;

}

.navbar-list li {
    display: inline;
    padding: 0px 20px 0px 20px;
    
}

.navbar-list a {
    text-decoration: none;
    color: #1c3d52;
    font-weight: bold;
    padding: 10px;

}

.navbar-list a:hover {
    color: #fff;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    transition: 0.2s;
    background-color: #1c3d52;
    box-shadow: 10px 10px 10px rgba(130, 143, 151, 0.4);

}

.navbar-list a.active {
    background-color: #1c3d52;
    color: #fff;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    transition: 0.3s;
    box-shadow: 15x 15px 15px rgba(130, 143, 151, 0.4);

}

.navbar-list a.active:hover {
    background-color: #e3ae00;
    color: #1c3d52;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    transition: 0.3s;
}

.navbar-list i {
    display: none;
}



@media (max-width: 768px) {

    .navbar-list ul {
        display: none;
    }

    .navbar-list i {
        display: block;
        font-size: 22px;
    }
    .navbar img{
        transform: scale(0.9);
    }
}

.navbar-list ul.show {

    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 100px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    z-index: 1000;
    box-shadow: 0 0 15px rgba(127, 154, 170, 0.4);

}

@keyframes fidzetspiner {
    from {
        width: 0%;
    }

    to {
        width: 100%;
    }
}

