* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

::selection {
    color: #fff;
    background: #e3ae00;
  }


#box {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ecebeb;
}

.box-pitanje {
    width: 45%;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 2px 2px 2px 1px rgba(28, 61, 82, 0.3);
    margin-top: 50px;
    padding: 20px 30px 30px 0;
    display: grid;
    grid-template-rows: 100px 50%;
    position: relative;
}

.grid-slika {
    grid-template-columns: 10% 60% 30%;
}

.grid-obicno {
    grid-template-columns: 10% 90% 0;
}

.redniBroj {
    display: flex;
    justify-content: center;
    align-items: center;
}

.broj {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #1c3d52;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.pitanje {
    display: flex;
    justify-content: left;
    align-items: center;
}

.odgovor {
    grid-column-end: span 2;
}

.slika {
    grid-row-end: span 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slika img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.odgovor input {
    /*   margin-left: 70px;*/
}

.fa-xmark {
    color: red;
}

.fa-check {
    color: green;
}

.netacno {
    text-decoration: line-through;
}

.odgovor label{
    padding-left: 80px;
    display: inline-block;
    margin: 5px 0px;
}


.provjeriButton {
    border: medium;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    outline: none;
    overflow: hidden;
    position: relative;
    color: rgb(255, 255, 255);
    font-weight: 700;
    font-size: 1rem;
    background-color: #1c3d52;
    padding: 1rem 4rem;
    margin-left: 5px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 15px;
    border-radius: 10px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.provjeriButton span {
    position: relative;
    z-index: 1;
}

.provjeriButton::after {
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    height: 490%;
    width: 140%;
    background: #e3ae00;
    transition: all 0.5s ease-in-out 0s;
    transform: translateX(-98%) translateY(-25%) rotate(45deg);
}

.provjeriButton:hover::after {
    transform: translateX(-9%) translateY(-25%) rotate(45deg);
}

.box {
    width: 100%;
    height: 87vh;
    background-color:rgb(231, 235, 238);
    display: flex;
    flex-direction: row;
}

.odabirKategorija{
    width: 20%;
    height: 100%;
    background-color: blue;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pitanjaKategorija{
    width: 80%;
    height: 100%;
    
}

.odabirKategorija button{
    width: 80%;
    height: 10%;
    background-color:#1c3d52;
    outline: none;
    border: 0;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    transition: 0.3s;
    color:#e3ae00;
    font-weight: bold;
    cursor: pointer;
    margin-top: 14px;
    margin-bottom: 14px;
}

.odabirKategorija button:hover{
    border-top-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    background-color:#e3ae00;
    transition: 0.3s;
    color:#1c3d52;
    font-weight: bold;
    cursor: pointer;
}

.odabirKategorija button.active{
    background-color: #e3ae00;
    color: #1c3d52;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
}

.kategorija{
    background-color:#e3ae00;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.kategorija button{
    width: 150px;
    height: 70%;
    margin-left: 20px ;
    margin-right: 20px;
    border-radius: 6px;
    background-color: #1c3d52;
    border: none;
    outline: none;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    transition: 0.3s;
    box-shadow: 15px 15px 15px rgba(130, 143, 151, 0.4);
}

.kategorija button:hover{
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    transition: 0.3s;

}

.pitanja{
    width: 79%;
    height: auto;
    margin-left: 10vw;
    background-color: #ececec;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border-radius: 30px;
    box-shadow: 15px 15px 15px rgba(130, 143, 151, 0.4);
    margin-top: 30px;
}

.pitanja button{
    width: 15%;
    height: 50px;
    margin: 20px;
    outline: none;
    border: none;
    background-color: #1c3d52;
    color: #fff;
    border-radius: 6px;
    cursor: pointer;
}

.navbar-list i{
    display: none;
    color: #000;
}



@media only screen and (max-width: 930px) {
  
    .pitanja button {
        width: 25%;
    }


    
  }



  @media only screen and (max-width: 700px) {
  
    .pitanja button {
        width: 33%;
    }


    
  }


  @media only screen and (max-width: 540px) {
  
    .pitanja button {
        width: 50%;
    }


    
  }


 