* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

nav {
    width: 100%;
    height: 12vh;
    display: grid;
    grid-template-columns: 33% 34% 33%;
    background-color: rgb(231, 235, 238);
}

.infoText {
    /*background-color: blue;*/
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hide {
    visibility: hidden;
}

.opcije {
    /*background-color: rebeccapurple;*/
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
}

.opcije ul {
    list-style-type: none;
}

.opcije li {
    display: inline;
    padding: 0 20px 0 20px;
}

.opcije a {
    text-decoration: none;
    color: #1c3d52;
    font-weight: bold;
    padding: 10px;

}

.opcije a:hover {
    color: #fff;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    transition: 0.2s;
    background-color: #1c3d52;
    box-shadow: 10px 10px 10px rgba(130, 143, 151, 0.4);

}

.opcije a.active {
    background-color: #1c3d52;
    color: #fff;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    transition: 0.3s;
    box-shadow: 15px 15px 15px rgba(130, 143, 151, 0.4);
}

.opcije a.active:hover {
    background-color: #e3ae00;
    color: #1c3d52;
    border-radius: 0 20px 0 20px;
    transition: 0.3s;
}



.box1 {
    /*background-color: #e3ae00 ;*/
    width: 25%;
    height: 100%;

}

.box2 {
    /*background-color: #e3ae00 ;*/
    width: 25%;
    height: 100%;
}




/*======================================================================================================================*/
#box {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(231, 235, 238);
    padding-bottom: 50px;
} 

.box-pitanje {
    width: 45%;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 2px 2px 2px 1px rgba(28, 61, 82, 0.3);
    margin-top: 50px;
    padding: 20px 30px 30px 0;
    display: grid;
    grid-template-rows: 100px 50%;
    position: relative;
}

.grid-slika {
    grid-template-columns: 10% 60% 30%;
}

.grid-obicno {
    grid-template-columns: 10% 90% 0;
}

.redniBroj {
    display: flex;
    justify-content: center;
    align-items: center;
}

.obrisiPitanje {
    padding: 10px;
    background-color: #1c3d52;
    color: #fff;
    border: 0;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 0 20px 0 10px;
}

.obrisiPitanje:hover {
    opacity: 0.7;
    cursor: pointer;
}

.dodajOdgovor {
    padding: 10px;
    background-color: #e3ae00;
    color: #fff;
    border: 0;
    position: absolute;
    bottom: 0;
    right: 0;
    border-radius: 10px 0 20px 0;
}

.dodajOdgovor:hover {
    opacity: 0.7;
    cursor: pointer;
}

.dodajSliku {
    padding: 10px;
    background-color: #e3ae00;
    color: #fff;
    border: 0;
    position: absolute;
    bottom: 0;
    right: 30px;
    border-radius: 20px 0 10px 0;
}

.dodajSliku:hover {
    opacity: 0.7;
    cursor: pointer;
}


.obrisiOdgovor {
    padding: 0 5px;
    margin-left: 5px;
    background-color: #1c3d52;
    color: #fff;
    border-radius: 20px;
    border: 0;
}

.broj {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #1c3d52;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.pitanje {
    display: flex;
    justify-content: center;
    align-items: center;
}

.odgovor {
    grid-column-end: span 2;
}

.slika {
    grid-row-end: span 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slika img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.odgovor input {
    margin-left: 70px;
}

.fa-xmark {
    color: red;
}

.fa-check {
    color: green;
}

.netacno {
    text-decoration: line-through;
}



.provjeriButton {
    border: medium;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    outline: none;
    overflow: hidden;
    position: relative;
    color: rgb(255, 255, 255);
    font-weight: 700;
    font-size: 1rem;
    background-color: #1c3d52;
    padding: 1rem 4rem;
    margin-left: 5px;
    box-shadow: rgba(0, 0, 0, 0.2) 0 5px 15px;
    border-radius: 10px;
    margin-top: 50px;
    margin-bottom: 1px;
}

.provjeriButton span {
    position: relative;
    z-index: 1;
}

.provjeriButton::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 490%;
    width: 140%;
    background: #e3ae00;
    transition: all 0.5s ease-in-out 0s;
    transform: translateX(-98%) translateY(-25%) rotate(45deg);
}

.provjeriButton:hover::after {
    transform: translateX(-9%) translateY(-25%) rotate(45deg);
}